.DS_Store
*/Library/

.vs
.vs/

Xcode
*.csproj
*.pidb
*.sln
*.userPrefs
*.userprefs
xcuserdata
xcuserdata/*
Temp
temp
_FinalPackages
_FinalPackages/*
*.app
*.app.meta
*.apk
/P31MonoBridge/build/
AndroidManifest.xml
AndroidManifest.xml.meta
Library
